{
	default_bind __BIND_IP__
}

http://__DOMAIN__ {
	redir https://__DOMAIN__{uri} permanent
}

__DOMAIN__ {
	encode zstd gzip

	@api path /api/v1 /api/v1/*
	reverse_proxy @api 127.0.0.1:8000
	reverse_proxy 127.0.0.1:4173

	header {
		-Server
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "same-origin"
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
	}
}
